{% extends 'common/base.html' %}

{% block title %}USER URL LIST{% endblock %}

{% load static %}

{% block javascripts %}
    <script type='text/javascript' src='{% static "js/common.js" %}'></script>
    <script type='text/javascript' src='{% static "js/model/model_ajax.js" %}'></script>
    <script type='text/javascript' src='{% static "js/utils/strings.js" %}'></script>
{% endblock %}

{% block body %}
<div>
    <div class='topbar'>
        <p> 환영합니다! {{ object_list.user.email }} 님~!! </p>
        <a class = 'active left' href='{% url "url_list" %}'>Url List</a>
        <a class = 'left' href='{% url "search" %}'>Search & Register</a>
        <a class = 'right' href='{% url "sign_up" %}'>비밀번호 변경</a>
        <a class = 'right' href='{% url "log_out" %}'>회원 탈퇴</a>
        <a class = 'right' href='{% url "log_out" %}'>로그아웃</a>
    </div>
    <div class='header center text-center top_maigin'>
        <h1>You registered bellow url list</h1>
    </div>
    <div class='url-list'>
        {% for domain_id, domain_data in object_list.domain_list.items %}
            {% include 'common/accordion.html' with title=domain_data.domain item_list=domain_data.url_list panel_click_calback='return false;' checked=True %}
        {% empty %}
            <div class='center text-center'>
                <p>Please Register Url</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
