﻿<!DOCTYPE html>
<html>
    <head>
        <title>Yammy SPAM - 회원가입</title>

        <link rel='stylesheet' href='/static/style/common.css'>

        <link rel='stylesheet' href='/static/style/user/login_box.css'>

    </head>
    <body>

<div>
    <div class='header center text-center'>
        <h1><br>Yammy SPAM~!</h1><br>
    </div>


    <div class='login_box'>
        <form name="login" action="URL" method="post">
            <div>
                <label><h2>회원가입</h2></label>
            </div>

            <div>
                <label><p>Email</p></label>
                <input type="text" name="email" value="" />
            </div>

            <div>
                <label><p>비밀번호</p></label>
                <input type="password" name="password" value="" />
            </div>

            <div>
                <label><p>비밀번호 확인</p></label>
                <input type="password" name="password" value="" />
            </div>

            <div>
                <button type="submit">확인</button>
            </div>
        </form>
    </div>

    <div class='center'>
        <p><a href="../sign_in/">처음으로</a></p>
    </div>
</div>

    </body>
</html>
