{% extends 'common/base.html' %}

{% load static %}

{% block stylesheets %}
    <link rel='stylesheet' href='{% static "style/user/login_box.css" %}'>
{% endblock %}

{% block title %}Yammy SPAM - 맞춤형 알람 서비스{% endblock %}

{% block body %}
<div>
    <div class='header center text-center'>
        <h1><br>Yammy SPAM~!</h1><br>
    </div>
    <div class='center'>
        <h3>이메일과 사이트를 등록하시면 알람을 보내드립니다.</h3>
    </div>
    <div class='login_box'>
        <form method="post">
            {% csrf_token %}
            <div>
                <label><h2>Log In</h2></label>
            </div>
            {{ form.as_p }}
                <input type="hidden" name="next" value="{{ next }}">
            <div>
                <button type="submit">로그인</button>
            </div>
        </form>
    </div>
    <div class='text-center'>
        <p><a href="{% url 'sign_up' %}">혹시 비밀번호를 잃어버리셨나요?</a></p>
        <p><a href="{% url 'sign_up' %}">혹시 처음이신가요?</a></p>
    </div>
</div>
{% endblock %}