.login_box form{
    text-align : center;
    margin : auto;
    width : 400px;
    padding : 1.5em;
    border : 1px solid #CCC;
    color : #666;
}

.login_box label{
    display : inline-block;
    width : 300px;
    text-align : left;
    margin-bottom : -1em;
}

.login_box input{
    width: 300px;
    height : 25px;
}

.login_box button{
    margin-left: 18em;
    margin-top : 1.5em;
}

